.window-title {
  font-size: 19px;
  font-weight: bold;
}

.font-color-main {
  color: var(--font-color-main);
}

.font-color-high {
  color: var(--font-color-high);
}

.font-color-standard {
  color: var(--font-color-standard);
}

.font-color-low {
  color: var(--font-color-low);
}

.font-size-std {
  font-size: var(--font-size-standard);
}

.font-size-small {
  font-size: var(--font-size-small);
}

.font-size-large {
  font-size: var(--font-size-large);
}

.font-size-smaller {
  font-size: var(--font-size-smaller);
}

.font-size-larger {
  font-size: var(--font-size-larger);
}

.font-size-smallest {
  font-size: var(--font-size-smallest);
}

.font-size-largest {
  font-size: var(--font-size-largest);
}

.font-bold {
  font-weight: bold;
}
