@import '@/utils/theme.scss';
@import './font.scss';
@import './animation.scss';
@import './layout.scss';

html {
    font-size: 16px;
    input {
        background-color: transparent;
        border-radius: 5px;
        padding: 2px 5px;
        color: var(--font-color-main);
        border: 1px solid rgba(var(--foreground-color-rgb), $alpha: 0.2);
        font-size: 16px;
        
        &:focus {
            outline: none;
        }
        
        &::placeholder{
            color: var(--font-color-low)
        }
    }
    textarea{
        background-color: transparent;
        border-radius: 5px;
        padding: 2px 5px;
        color: var(--font-color-main);
        border: 1px solid rgba(var(--foreground-color-rgb), $alpha: 0.2);
        font-size: 16px;
        
        &:focus {
            outline: none;
        }
        
        &::placeholder{
            color: var(--font-color-low)
        }
    }
    button{
        color: var(--font-color-high);
        background-color: transparent;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
            background-color: rgba(var(--foreground-color-rgb), 0.1);
        }
    }
}

// 使用 CSS 变量
:root {
    --background-color: #131319;
    --foreground-color: #fff;
    --panel-background-color: #2d2d36;
    --icon-invert: invert(0);
    --font-color-rgb: 0, 0, 0;
    --font-color-main: rgba(var(--font-color-rgb), 1);
    --font-color-high: rgba(var(--font-color-rgb), 0.8);
    --font-color-standard: rgba(var(--font-color-rgb), 0.6);
    --font-color-low: rgba(var(--font-color-rgb), 0.4);
    --font-size-standard: 16px;
    --font-size-small: 14px;
    --font-size-large: 18px;
    --font-size-smaller: 12px;
    --font-size-larger: 20px;
    --font-size-smallest: 10px;
    --font-size-largest: 22px;
}

.g-icon {
    filter: var(--icon-invert);
    -webkit-user-drag: none;
}
